// Custom Color
$primary:   #686554;
$secondary: #727075;

// Custom Color End

// Custom Fonts
$font-family-sans-serif: 'Switzer-Regular', sans-serif !default;

h1 {
    font-family: 'Switzer-Extrabold', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Switzer-Bold', sans-serif;
}

li {
    font-family: 'Switzer-Extralight', sans-serif;
}
// Custom Fonts End

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

// Custom Var
$custom-colors: (
    "tertiary": #72474E
);
// Custom Var End

$theme-colors:map-merge($custom-colors, $theme-colors);

@import 'bootstrap/scss/bootstrap';
@import 'switzer';