// Custom Color
$primary:   #c37923;
$secondary: #eee3db;
$gradient: linear-gradient(90deg,rgba(104, 101, 84, 1) 0%, rgba(133, 130, 112, 1) 35%, rgba(163, 160, 141, 1) 100%);
// Custom Color End

// Custom Fonts
$font-family-sans-serif: 'Switzer-Regular', sans-serif !default;

h1 {
    font-family: 'Switzer-Extrabold', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Switzer-Bold', sans-serif;
}

li, .extra-light {
    font-family: 'Switzer-Extralight', sans-serif;
}

.italic {
    font-family: 'Switzer-Thinitalic', sans-serif;
}

.light {
    font-family: 'Switzer-Light', sans-serif;
}

.regular {
    font-family: 'Switzer-Regular', sans-serif;
}

.extra-bold-italic {
    font-family: 'Switzer-ExtraboldItalic', sans-serif;
}

// Custom Fonts End

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import "bootstrap-icons/font/bootstrap-icons.css";

// Custom Var
$custom-colors: (
    "tertiary": #312f21,
    "quartary": #535143,
);
// Custom Var End

$theme-colors:map-merge($custom-colors, $theme-colors);

@mixin smooth-gradient($main-gradient) {
  background-image:
    $main-gradient,
    radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,.0001) 30%, rgba(0,0,0,.001) 60%, rgba(0,0,0,.005) 100%);
}

.gradient {
  @include smooth-gradient($gradient);
}

@import 'bootstrap/scss/bootstrap';
@import 'switzer';