/* Background Image Behind Navbar */
.bg-img {
    background-image: url('../../public/images/IMG20231202135337.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
/* Background Image Behind Navbar End*/

/* Overlays */
.bg-overlay {
    border-image: fill 1 linear-gradient(0deg,rgba(0, 0, 0, 0.8) 0%, rgba(154, 109, 50, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.about-overlay {
    border-image: fill 1 linear-gradient(90deg,rgba(0, 0, 0, 0.5) 0%, rgba(154, 109, 50, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.about-mobile-overlay {
    border-image: fill 1 linear-gradient(90deg,rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.3) 100%);
}

.carousel-overlay {
    border-image: fill 1 linear-gradient(0deg,rgba(0, 0, 0, 0.8) 0%, rgba(154, 109, 50, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
}
/* Overlays End */

.nowrap {
    white-space: nowrap;
}


